<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.environment.mapper.TEquipmentData170831Mapper" >
  <resultMap id="BaseResultMap" type="com.environment.domain.TEquipmentData170831" >
    <result column="v_equipment_name" property="v_equipment_name" jdbcType="VARCHAR" />
    <result column="p001" property="p001" jdbcType="DOUBLE" />
    <result column="p002" property="p002" jdbcType="DOUBLE" />
    <result column="p003" property="p003" jdbcType="DOUBLE" />
    <result column="p004" property="p004" jdbcType="DOUBLE" />
    <result column="p005" property="p005" jdbcType="DOUBLE" />
    <result column="p006" property="p006" jdbcType="DOUBLE" />
    <result column="p007" property="p007" jdbcType="DOUBLE" />
    <result column="p008" property="p008" jdbcType="DOUBLE" />
    <result column="p009" property="p009" jdbcType="DOUBLE" />
    <result column="p010" property="p010" jdbcType="DOUBLE" />
    <result column="p011" property="p011" jdbcType="DOUBLE" />
    <result column="p012" property="p012" jdbcType="DOUBLE" />
    <result column="p013" property="p013" jdbcType="DOUBLE" />
    <result column="p014" property="p014" jdbcType="DOUBLE" />
    <result column="p015" property="p015" jdbcType="DOUBLE" />
    <result column="dtm_create" property="dtm_create" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    v_equipment_name, p001, p002, p003, p004, p005, p006, p007, p008, p009, p010, p011, 
    p012, p013, p014, p015, dtm_create
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.environment.domain.TEquipmentData170831Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_equipment_data_170831
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insert" parameterType="com.environment.domain.TEquipmentData170831" >
    insert into t_equipment_data_170831 (v_equipment_name, p001, p002, 
      p003, p004, p005, p006, 
      p007, p008, p009, p010, 
      p011, p012, p013, p014, 
      p015, dtm_create)
    values (#{v_equipment_name,jdbcType=VARCHAR}, #{p001,jdbcType=DOUBLE}, #{p002,jdbcType=DOUBLE}, 
      #{p003,jdbcType=DOUBLE}, #{p004,jdbcType=DOUBLE}, #{p005,jdbcType=DOUBLE}, #{p006,jdbcType=DOUBLE}, 
      #{p007,jdbcType=DOUBLE}, #{p008,jdbcType=DOUBLE}, #{p009,jdbcType=DOUBLE}, #{p010,jdbcType=DOUBLE}, 
      #{p011,jdbcType=DOUBLE}, #{p012,jdbcType=DOUBLE}, #{p013,jdbcType=DOUBLE}, #{p014,jdbcType=DOUBLE}, 
      #{p015,jdbcType=DOUBLE}, #{dtm_create,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.environment.domain.TEquipmentData170831" >
    insert into t_equipment_data_170831
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="v_equipment_name != null" >
        v_equipment_name,
      </if>
      <if test="p001 != null" >
        p001,
      </if>
      <if test="p002 != null" >
        p002,
      </if>
      <if test="p003 != null" >
        p003,
      </if>
      <if test="p004 != null" >
        p004,
      </if>
      <if test="p005 != null" >
        p005,
      </if>
      <if test="p006 != null" >
        p006,
      </if>
      <if test="p007 != null" >
        p007,
      </if>
      <if test="p008 != null" >
        p008,
      </if>
      <if test="p009 != null" >
        p009,
      </if>
      <if test="p010 != null" >
        p010,
      </if>
      <if test="p011 != null" >
        p011,
      </if>
      <if test="p012 != null" >
        p012,
      </if>
      <if test="p013 != null" >
        p013,
      </if>
      <if test="p014 != null" >
        p014,
      </if>
      <if test="p015 != null" >
        p015,
      </if>
      <if test="dtm_create != null" >
        dtm_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="v_equipment_name != null" >
        #{v_equipment_name,jdbcType=VARCHAR},
      </if>
      <if test="p001 != null" >
        #{p001,jdbcType=DOUBLE},
      </if>
      <if test="p002 != null" >
        #{p002,jdbcType=DOUBLE},
      </if>
      <if test="p003 != null" >
        #{p003,jdbcType=DOUBLE},
      </if>
      <if test="p004 != null" >
        #{p004,jdbcType=DOUBLE},
      </if>
      <if test="p005 != null" >
        #{p005,jdbcType=DOUBLE},
      </if>
      <if test="p006 != null" >
        #{p006,jdbcType=DOUBLE},
      </if>
      <if test="p007 != null" >
        #{p007,jdbcType=DOUBLE},
      </if>
      <if test="p008 != null" >
        #{p008,jdbcType=DOUBLE},
      </if>
      <if test="p009 != null" >
        #{p009,jdbcType=DOUBLE},
      </if>
      <if test="p010 != null" >
        #{p010,jdbcType=DOUBLE},
      </if>
      <if test="p011 != null" >
        #{p011,jdbcType=DOUBLE},
      </if>
      <if test="p012 != null" >
        #{p012,jdbcType=DOUBLE},
      </if>
      <if test="p013 != null" >
        #{p013,jdbcType=DOUBLE},
      </if>
      <if test="p014 != null" >
        #{p014,jdbcType=DOUBLE},
      </if>
      <if test="p015 != null" >
        #{p015,jdbcType=DOUBLE},
      </if>
      <if test="dtm_create != null" >
        #{dtm_create,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_equipment_data_170831
    <set >
      <if test="record.v_equipment_name != null" >
        v_equipment_name = #{record.v_equipment_name,jdbcType=VARCHAR},
      </if>
      <if test="record.p001 != null" >
        p001 = #{record.p001,jdbcType=DOUBLE},
      </if>
      <if test="record.p002 != null" >
        p002 = #{record.p002,jdbcType=DOUBLE},
      </if>
      <if test="record.p003 != null" >
        p003 = #{record.p003,jdbcType=DOUBLE},
      </if>
      <if test="record.p004 != null" >
        p004 = #{record.p004,jdbcType=DOUBLE},
      </if>
      <if test="record.p005 != null" >
        p005 = #{record.p005,jdbcType=DOUBLE},
      </if>
      <if test="record.p006 != null" >
        p006 = #{record.p006,jdbcType=DOUBLE},
      </if>
      <if test="record.p007 != null" >
        p007 = #{record.p007,jdbcType=DOUBLE},
      </if>
      <if test="record.p008 != null" >
        p008 = #{record.p008,jdbcType=DOUBLE},
      </if>
      <if test="record.p009 != null" >
        p009 = #{record.p009,jdbcType=DOUBLE},
      </if>
      <if test="record.p010 != null" >
        p010 = #{record.p010,jdbcType=DOUBLE},
      </if>
      <if test="record.p011 != null" >
        p011 = #{record.p011,jdbcType=DOUBLE},
      </if>
      <if test="record.p012 != null" >
        p012 = #{record.p012,jdbcType=DOUBLE},
      </if>
      <if test="record.p013 != null" >
        p013 = #{record.p013,jdbcType=DOUBLE},
      </if>
      <if test="record.p014 != null" >
        p014 = #{record.p014,jdbcType=DOUBLE},
      </if>
      <if test="record.p015 != null" >
        p015 = #{record.p015,jdbcType=DOUBLE},
      </if>
      <if test="record.dtm_create != null" >
        dtm_create = #{record.dtm_create,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_equipment_data_170831
    set v_equipment_name = #{record.v_equipment_name,jdbcType=VARCHAR},
      p001 = #{record.p001,jdbcType=DOUBLE},
      p002 = #{record.p002,jdbcType=DOUBLE},
      p003 = #{record.p003,jdbcType=DOUBLE},
      p004 = #{record.p004,jdbcType=DOUBLE},
      p005 = #{record.p005,jdbcType=DOUBLE},
      p006 = #{record.p006,jdbcType=DOUBLE},
      p007 = #{record.p007,jdbcType=DOUBLE},
      p008 = #{record.p008,jdbcType=DOUBLE},
      p009 = #{record.p009,jdbcType=DOUBLE},
      p010 = #{record.p010,jdbcType=DOUBLE},
      p011 = #{record.p011,jdbcType=DOUBLE},
      p012 = #{record.p012,jdbcType=DOUBLE},
      p013 = #{record.p013,jdbcType=DOUBLE},
      p014 = #{record.p014,jdbcType=DOUBLE},
      p015 = #{record.p015,jdbcType=DOUBLE},
      dtm_create = #{record.dtm_create,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>