<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.environment.mapper.TUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.environment.domain.TUserInfo" >
    <id column="i_user_id" property="i_user_id" jdbcType="INTEGER" />
    <result column="v_user_name" property="v_user_name" jdbcType="VARCHAR" />
    <result column="v_password" property="v_password" jdbcType="VARCHAR" />
    <result column="dtm_create" property="dtm_create" jdbcType="TIMESTAMP" />
    <result column="i_admin" property="i_admin" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    i_user_id, v_user_name, v_password, dtm_create, i_admin
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.environment.domain.TUserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_info
    where i_user_id = #{i_user_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_info
    where i_user_id = #{i_user_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.environment.domain.TUserInfo" >
    insert into t_user_info (i_user_id, v_user_name, v_password, 
      dtm_create, i_admin)
    values (#{i_user_id,jdbcType=INTEGER}, #{v_user_name,jdbcType=VARCHAR}, #{v_password,jdbcType=VARCHAR}, 
      #{dtm_create,jdbcType=TIMESTAMP}, #{i_admin,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.environment.domain.TUserInfo" >
    insert into t_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="i_user_id != null" >
        i_user_id,
      </if>
      <if test="v_user_name != null" >
        v_user_name,
      </if>
      <if test="v_password != null" >
        v_password,
      </if>
      <if test="dtm_create != null" >
        dtm_create,
      </if>
      <if test="i_admin != null" >
        i_admin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="i_user_id != null" >
        #{i_user_id,jdbcType=INTEGER},
      </if>
      <if test="v_user_name != null" >
        #{v_user_name,jdbcType=VARCHAR},
      </if>
      <if test="v_password != null" >
        #{v_password,jdbcType=VARCHAR},
      </if>
      <if test="dtm_create != null" >
        #{dtm_create,jdbcType=TIMESTAMP},
      </if>
      <if test="i_admin != null" >
        #{i_admin,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_user_info
    <set >
      <if test="record.i_user_id != null" >
        i_user_id = #{record.i_user_id,jdbcType=INTEGER},
      </if>
      <if test="record.v_user_name != null" >
        v_user_name = #{record.v_user_name,jdbcType=VARCHAR},
      </if>
      <if test="record.v_password != null" >
        v_password = #{record.v_password,jdbcType=VARCHAR},
      </if>
      <if test="record.dtm_create != null" >
        dtm_create = #{record.dtm_create,jdbcType=TIMESTAMP},
      </if>
      <if test="record.i_admin != null" >
        i_admin = #{record.i_admin,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_user_info
    set i_user_id = #{record.i_user_id,jdbcType=INTEGER},
      v_user_name = #{record.v_user_name,jdbcType=VARCHAR},
      v_password = #{record.v_password,jdbcType=VARCHAR},
      dtm_create = #{record.dtm_create,jdbcType=TIMESTAMP},
      i_admin = #{record.i_admin,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.environment.domain.TUserInfo" >
    update t_user_info
    <set >
      <if test="v_user_name != null" >
        v_user_name = #{v_user_name,jdbcType=VARCHAR},
      </if>
      <if test="v_password != null" >
        v_password = #{v_password,jdbcType=VARCHAR},
      </if>
      <if test="dtm_create != null" >
        dtm_create = #{dtm_create,jdbcType=TIMESTAMP},
      </if>
      <if test="i_admin != null" >
        i_admin = #{i_admin,jdbcType=INTEGER},
      </if>
    </set>
    where i_user_id = #{i_user_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.environment.domain.TUserInfo" >
    update t_user_info
    set v_user_name = #{v_user_name,jdbcType=VARCHAR},
      v_password = #{v_password,jdbcType=VARCHAR},
      dtm_create = #{dtm_create,jdbcType=TIMESTAMP},
      i_admin = #{i_admin,jdbcType=INTEGER}
    where i_user_id = #{i_user_id,jdbcType=INTEGER}
  </update>
</mapper>